.hero-banner {
  background-image: url('images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 56px);
  position: relative;
}

.card-img,
.card-img-top {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  position: absolute;
}
